<html>
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        <!-- navbar -->
        {% include 'navbar.html' %}

        <!-- main content-->
        <div class="p-5 container">
           <p>
               Hi Remote workers! If you have the flexibility of working from home, you may want to relocate to a place with where tax rates and living expenses are low, and life quality is high. Look no further - West Virgina has everything you dream of!
           </p>
           <p>
               If you are unfamilar with West Virginia and need help research where to live, use this tool! It is designed to make the best choice for you. Our algorithm considers a lot of factors, from school ratings to tax rates. We reference various data sources, such as US Census data, greatshcools.com, and city-data.com.
           </p>
           <p>This web application is built with Python Flask framework and uses technologies like Census API, Bootstrap, AJAX and MySQL.</p>
           <p>
               Special thanks to Mr. J. Sun, who provided greata photography!
           </p>
           <p>&nbsp;</p>
           <p>- Shawn</p>
        </div>
        {% include 'footer.html' %}
    </body>
</html>